@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/variables' as *;

.drink-list-home {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1.8rem;

  @include query(ms) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include query(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
