@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/variables' as *;

.header {
  padding: 2rem $padding-mobile;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    @include query(md) {
      display: none;
    }
  }

  .cart {
    display: none;
    @include query(md) {
      display: block;
    }
  }

  .toggle {
    @include query(md) {
      display: none;
    }
  }
}
