@use '../../assets/sass/mixins' as *;
@use '../../assets/sass/variables' as *;

.search-container {
  display: none;

  position: relative;
  background-color: $white-1;
  border-radius: $border-radius;

  &__input {
    outline: none;
    border-radius: $border-radius;
    padding: 0.5rem 1rem 0.5rem 3rem;
    border: 1.8px solid $grayish-inactive;

    &::placeholder {
      color: $grayish-inactive;
    }

    &:hover,
    &:focus {
      border-color: $grayish;
    }
  }

  &__icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translate(0, -50%);
  }

  @include query(md) {
    display: flex;
  }
}
