@use './assets/sass/mixins' as *;
@use './assets/sass/variables' as *;

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header'
    'main';

  @include query(md) {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'sidebar header'
      'sidebar main';
  }
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  padding: 3.1rem $padding-mobile;
  background-color: $white-2;
}

.featured-products {
  display: grid;
  place-content: center;
  gap: 2rem;

  &__button {
    display: grid;
    place-content: center;
  }
}
