@use './variables' as *;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white-2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

figure {
  display: grid;
  place-content: center;
}

img {
  width: 100%;
}
