@use './mixins' as *;

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-size: 400;
}

h1 {
  font-size: 700;
}

h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2.6rem;
  font-size: 600;
}

p {
  font-size: 1rem;
  font-size: 400;
}

a {
  font-size: 1.15rem;
}

.content__title {
  text-align: center;
  font-size: 1.2rem;
}

.content__category {
  text-align: center;
  font-size: 1rem;
}

.content__price {
  text-align: center;
  font-size: 1rem;
}
