$black: #1d2025;
$grayish: #68707d;
$grayish-inactive: rgba(104, 112, 125, 60%);

$red: #fb2e86;
$soft-red: #fd5fa4;
$light-red: rgba(251, 46, 134, 12%);

$white-1: #fff;
$white-2: #f9fafe;

$light-blue: #f2f0ff;
$blue: #2f1ac4;
$dark-blue: #151875;

$padding-mobile: 5vw;
$max-width-desktop: 1440px;
$border-radius: 7px;

$breakpoints: (
  // // 400px
  // xs: 25em,
  // 544px
  ms: 34em,
  // 768px
  md: 48em,
  // 960px
  lg: 60em,
  // 1280px
  xl: 80em,
  // 1440px
  xxl: 90em
);
